<!DOCTYPE html>
<html lang="es" ng-app="aportesApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/assets/ico/favicon.ico">

    <title>Aportes de Campaña 2013</title>

    <link type='text/css' rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link type='text/css' rel="stylesheet" href="static/css/chosen.min.css"/>
    <link type='text/css' rel="stylesheet" href="static/css/treemap.css"/>

    <link type='text/css' rel="stylesheet" href="static/css/main.css"/>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <p class="navbar-brand">Aportes de Campaña en Argentina</p>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h3>Visualizaciones</h3>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#/map" data-target="#" data-toggle="tab">Mapa coroplético</a></li>
                <li><a href="#/treemap" data-target="#" data-toggle="tab">Treemap</a></li>
            </ul>
        </div>
        <div class="col-md-7 text-center">
            <div>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active" data-target="#graph" data-toggle="tab">
                        <input type="radio" name="options" checked> Grafico
                    </label>
                    <label class="btn btn-default" data-target="#data" data-toggle="tab">
                        <input type="radio" name="options"> Datos
                    </label>
                </div>
            </div>
            <div id="main" class="tab-content">
                <div class="tab-pane active" id="graph" ng-view>
                </div>
                <div class="tab-pane" id="data" ng-controller="DataCtrl">
                    <div class="input-group">
                        <input type="text" ng-model="query" class="form-control" placeholder="filtrar por..">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    </div>
                    <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Elecciones</th>
                            <th>Documento</th>
                            <th>Importe</th>
                            <th>Agrupación</th>
                            <th>Distrito</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="aportante in aportantes | filter:query | offset: currentPage*itemsPerPage | limitTo:itemsPerPage">
                            <td><a href="#/aportes/{{aporte.DOCUMENTO}}">{{ aportante.APELLIDO }}, {{ aportante.NOMBRE }}</a></td>
                            <td>{{ aportante.ELECCIONES }}</td>
                            <td>{{ aportante.DOCUMENTO }}</td>
                            <td>{{ aportante.IMPORTE }}</td>
                            <td>{{ aportante.AGRUPACION }}</td>
                            <td>{{ aportante.DISTRITO }}</td>
                        </tr>
                    </tbody>
                    </table>
                    <ul class="pagination">
                        <li><a href="#" ng-click="prevPage()">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" ng-click="nextPage()">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div ng-controller="FiltersCtrl">
                <div id="aggregation">
                    <h3>Agrupar por</h3>
                    <div class="radio">
                        <label>
                            <input type="radio" name="aggregation" data-field="count" checked>
                            Por aporte
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="aggregation" data-field="importe">
                            Por cantidad de aportantes
                        </label>
                    </div>
                </div>
                <h3>Filtros</h3>
                <div ng-repeat="(field, filter) in filters" data-field="{{ field }}">
                    <div class="form-group">
                        <label for="{{ field }}">{{ field | uppercase }}</label>
                        <select id="{{ field }}" chosen ng-model="filter.selected" ng-options="value for value in filter.values" class="form-control chosen-single chosen-default">
                            <option value="">Todos</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <p class="text-muted">¿Qué es este sitio web? | Preguntas Frecuentes | Datos | Sobre el equipo</p>
    </div>
</div>

<script type='text/javascript' src="bower_components/jquery/dist/jquery.min.js"></script>
<script type='text/javascript' src="static/js/bootstrap.min.js"></script>
<script type='text/javascript' src="static/js/d3.min.js"></script>
<script type='text/javascript' src="static/js/colorbrewer.js"></script>
<script type='text/javascript' src="static/js/queue.min.js"></script>
<script type='text/javascript' src="static/js/topojson.min.js"></script>
<script type='text/javascript' src="bower_components/angular/angular.min.js"></script>
<script type='text/javascript' src="bower_components/angular-route/angular-route.min.js"></script>
<script type='text/javascript' src="static/js/ui-bootstrap-tpls-0.11.0.min.js"></script>
<script type='text/javascript' src="static/js/chosen.jquery.min.js"></script>
<script type='text/javascript' src="static/js/chosen-directive.js"></script>

<script type='text/javascript' src="static/js/app.js"></script>
<script type='text/javascript' src="static/js/controllers.js"></script>
</body>
</html>
