#map {
    height: 100%;
    padding: 0;
    margin: 0;
}

#container-map {
    position: relative;
    height: 700px;
}

#selector-map {
    position: absolute;
}

#map-info {
    top:20px;
    right: 20px;
}

#layer_selector {
    top: 30px;
    padding: 0;
}

#layer_selector ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#layer_selector li {
    border-bottom: 1px solid #999;
    padding: 15px 30px;
    font-family: "Helvetica", Arial;
    font-size: 13px;
    color: #444;
    cursor: auto;
}

#layer_selector li:hover {
    background-color: #F0F0F0;
    cursor: pointer;
}

#layer_selector li.selected {
    background-color: #EEE;
}