a:link {text-decoration: none;}
a:hover {text-decoration: underline; background-color: #e6e6e6;}

#chart {
  width: 574px;
  height: 600px;
  background: #cf3d3d;
    font-family: 'Six Caps';
      color: #FFF;
}

text {
    pointer-events: none;
}

.grandparent text {
      color: #FFF;
      border-width: 1px;

}

rect {
  fill: none;
  stroke: #fff;
      padding: 6px;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.grandparent rect {
  fill: #5f5f5f;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

rect.parent {
  pointer-events: all;
}

.children:hover rect.child,
.grandparent:hover rect {
  fill: gray;
}
