<script>
$(document).ready(function(){
    $("[data-toggle=tooltip]").tooltip({ placement: 'bottom'});
});
</script>
<div class="row">
  <div class="col-md-3">
		<h4>{{ aportante.nombre }} {{ aportante.apellido }}</h4>
		<img src="../img/icons/{{ aportante.sexo }}.png" height="32">&nbsp;&nbsp;
		Clase {{ aportante.clase }}<br/>
		({{ 2014 - aportante.clase }} años de edad)
  </div>
  <div class="col-md-3">
		<img src="../img/icons/imp_iva/{{ aportante.impuesto_iva }}.png" height="32" data-toggle="tooltip" title="Impuesto al Valor Agregado">
		<img src="../img/icons/imp_ganancias/{{ aportante.impuesto_ganancias }}.png" height="32" data-toggle="tooltip" title="Impuesto a las Ganancias">
		<img src="../img/icons/monotributo/{{ aportante.monotributo }}.png" height="32" data-toggle="tooltip" title="Monotributo categoría {{ aportante.monotributo }}">
		<img src="../img/icons/empleador/{{ aportante.empleador }}.png" height="32" data-toggle="tooltip" title="Empleador">
		<br/>
		<img src="../img/icons/autoridad/{{ aportante.autoridad }}.gif" height="32" data-toggle="tooltip" title="Autoridad partidaria">
		<img src="../img/icons/candidatura/{{ aportante.candidatura }}.gif" height="32" data-toggle="tooltip" title="Candidatura">
		<img src="../img/icons/contrato/{{ aportante.contrato }}.gif" height="32" data-toggle="tooltip" title="Contrato">
		<img src="../img/icons/designacion/{{ aportante.designacion }}.gif" height="32" data-toggle="tooltip" title="Designación">
		<img src="../img/icons/mandato_diputado/{{ aportante.mandato_diputado }}.gif" height="32" data-toggle="tooltip" title="Mandato como Diputado">
		<img src="../img/icons/mandato_diputado/{{ aportante.mandato_senador }}.gif" height="32" data-toggle="tooltip" title="Mandato como Senador">
   </div>
  <div class="col-md-6">
		<img ng-repeat="aporte in aportante.aportes | unique: 'coddistrito'" src="../img/escudos/{{ aporte.coddistrito }}.gif" title="{{ aporte.distrito }}" data-toggle="tooltip" height="120">&nbsp;&nbsp;
		<img ng-repeat="aporte in aportante.aportes | unique: 'codlista'" src="../img/boletas/{{ aporte.ciclo }}/{{ aporte.codlista }}.jpg" data-toggle="tooltip" title="{{ aporte.agrupacion_id | agrupacionName }}" height="120">
  </div>
</div>
<!--<dl class="dl-horizontal">

    <dt>Sexo</dt>
    <dd><img src="http://andytow.com/scripts/larutaelectoral/img/icons/{{ aportante.sexo }}.png" height="32"></dd>

<!--<dt>Documento</dt>
    <dd>{{ aportante.documento }}</dd>

    <dt>Clase</dt>
    <dd>{{ aportante.clase }}</dd>

<!--<dt>CUIT</dt>
    <dd>{{ aportante.cuit }}</dd>

</dl>
-->	
<table class="table">
    <thead>
    <th>Ciclo</th>
    <th>Elección</th>
    <th>Distrito</th>
    <th>Cargo</th>
    <th>Agrupación</th>
    <th>Monto</th>
    </thead>
    <tbody>
    <tr ng-repeat="aporte in aportante.aportes" ng-class="{ 'text-muted': fetching }">
        <td>{{ aporte.ciclo }}</td>
        <td>{{ aporte.eleccion }}</td>
        <td>{{ aporte.distrito }}</td>
        <td>{{ aporte.cargo }}</td>
        <td>{{ aporte.agrupacion_id | agrupacionName }}</td>
        <td align="right">$ {{ aporte.importe }}</td>
    </tr>
    </tbody>
</table>
<div class="text-center">
    <pagination total-items="totalItems"
                ng-change="pageChanged()"
                ng-model="currentPage"
                max-size="maxSize"
                class="pagination-sm"
                boundary-links="true"
                rotate="false"
                num-pages="totalPages"
                first-text="Primera"
                last-text="Última"
                previous-text="Anterior"
                next-text="Siguiente">
    </pagination>
</div>