<div class="row">
    <div class="col-lg-6">
        <bar-chart data="aportesBySex"
                   height="300"
                   y-axis-ticks="10"
                   y-axis-max="20000"
                   chart-title="Aportantes por sexo">
        </bar-chart>
    </div>
    <div class="col-lg-6">
        <bar-chart data="aportesByAge"
                   height="300"
                   y-axis-ticks="7"
                   y-axis-max="7000"
                   chart-title="Aportantes por edad">
        </bar-chart>
    </div>
</div>
