	<h3>Preguntas frecuentes</h3>
		<ul class="nav nav-tabs" role="tablist">
			<li class="active"><a href="#aplicacion" data-toggle="tab" class="tab-btn">Qué hay y qué no hay aquí</a></li>
			<li><a href="#elecciones" data-toggle="tab" class="tab-btn">Elecciones y financiamiento</a></li>
			<li><a href="#fuentes" data-toggle="tab" class="tab-btn">Fuentes</a></li>
			<li><a href="#legal" data-toggle="tab" class="tab-btn">Aviso legal</a></li>
		</ul>

<div class="tab-content">
	<div class="aplicacion tab-pane active" id="aplicacion">
		<h4>¿Qué datos contiene este sitio?</h4>
	
			<p>Esta plataforma muestra información de los aportes provenientes de personas físicas o jurídicas de carácter privado para las campañas de Presidente y Vicepresidente de 2007 y 2011 y para miembros del Congreso nacional de 2007, 2009, 2011 y 2013.</p>

		<h4>¿De dónde salen estos datos?</h4>
		
			<p>La <a target="_blank" href="http://www.infoleg.gob.ar/infolegInternet/anexos/120000-124999/124231/texact.htm">ley de Financiamiento de los Partidos Políticos</a> dispone que noventa días después de finalizada la elección, el presidente y tesorero del partido y los responsables económico-financiero y político de la campaña deberán presentar, en forma conjunta, ante la justicia federal con competencia electoral del distrito correspondiente, un informe final detallado de los aportes públicos y privados recibidos, con indicación de origen y monto, así como de los gastos incurridos con motivo de la campaña electoral. Una vez presentados a la Justicia Electoral, la <a href="http://www.electoral.gov.ar">Cámara Nacional Electoral</a> publica dichos informes en su sitio.</p>			
			
		<h4>¿Incluyen estos datos el financiamiento corriente de los partidos políticos?</h4>

			<p>No. Esta base de datos solo incluye información relativa al financiamiento de las campañas electorales. Los informes correspondientes a los gastos corrientes pueden obtenerse en el sitio de la <a href="http://www.electoral.gov.ar">Cámara Nacional Electoral</a>.</p>
		
		<h4>¿Incluyen estos datos el financiamiento de elecciones provinciales o municipales?</h4>
		
			<p>No. Este sitio contiene información solamente sobre campañas electorales nacionales. Argentina es un país federal en el que las provincias y la Ciudad de Buenos Aires gozan de autonomía para darse sus propias instituciones políticas, incluido la forma y el financiamiento de sus elecciones.</p>

		<h4>¿Incluyen estos datos el financiamiento no declarado de las campañas electorales?</h4>
		
			<p>No. Este sitio contiene solamente información declarada por las agrupaciones políticas en sus informes obligatorios. Si bien es probable que los ingresos declarados constituyan en muchos casos solo una parte de los recursos que efectivamente se utilizan en campañas electorales, son la única fuente sistematizable que por su volumen ofrece una amplia ventana a la población comprometida económicamente con la competencia por cargos públicos electivos.</p>
			
		<h4>¿Como puedo saber si la información provista es completa y fiel a la original?</h4>

			<p>La información contenida en este sitio fue obtenida a partir de documentos oficiales y bases de datos de acceso público, pero no constituye información oficial y es tan completa como lo permiten sus <a href="#fuentes" data-toggle="tab">fuentes</a>. Hacemos todos los esfuerzos posibles y razonables por mantener la información completa y fiel a la original. En ocasiones puede haber errores o modificaciones involuntarias durante el proceso de obtención y procesamiento de los datos. Recomendamos en todos los casos remitirse a las <a href="#fuentes" data-toggle="tab">fuentes</a> para corroborarlos.</p>	
	</div>

	<div class="elecciones tab-pane" id="elecciones">
		<h4>¿Cómo se organizan las elecciones y los partidos políticos en Argentina?</h4>
	
			<p>Los partidos políticos tienen sede en cada distrito (provincias y la Ciudad de Buenos Aires) y pueden conformar partidos nacionales si tienen presencia en al menos cinco distritos. Para las elecciones del Congreso nacional, los partidos, solos o en alianza con otros partidos, forman agrupaciones políticas y presentan candidatos a diputados y senadores en cada distrito. Las elecciones de Presidente y Vice se realizan por distrito único y solamente los partidos nacionales pueden presentar candidatos.</p>

		<h4>¿Cómo se financia de la política en Argentina?</h4>
	
			<p>El sistema de financiamiento en Argentina es mixto: los partidos políticos reciben aportes públicos (del Estado) y privados (de cualquier ciudadano interesado) para financiar sus actividades y sus campañas políticas.</p>
	
		<h4>¿Por qué los partidos políticos reciben dinero del Estado?</h4>

			<p>En Argentina los partidos políticos son instituciones fundamentales del sistema democrático y tienen el monopolio de las candidaturas a los cargos representativos. Las campañas electorales sirven para que el ciudadano pueda conocer las propuestas de los partidos y emitir su voto de modo informado. Por ese motivo, el Estado contribuye a su desarrollo y mantenimiento, la capacitación de sus miembros y su participación en campañas electorales.</p>
	
		<h4>¿Los candidatos pueden recibir dinero para sus campañas?</h4>
	
			<p>No. Los candidatos no pueden recibir dinero ni gastarlo. Solo puede hacerlo el partido político o alianza por el que se presentan, a través de sus representantes designados. Los candidatos con frecuencia contribuyen a sus campañas.</p>
	
		<h4>¿Quiénes pueden realizar contribuciones y donaciones privadas?</h4>

			<p>Hasta 2009, las agrupaciones políticas estaban autorizadas a recibir aportes de cualquier persona física <img src="images/icons/M.png" height="24" style="padding:2px; margin:0px"><img src="images/icons/F.png" height="24" style="padding:2px; margin:0px"> o persona jurídica <img src="images/icons/J.png" height="24" style="padding:2px; margin:0px">. A partir de las <a target="_blank" href="http://infoleg.mecon.gov.ar/infolegInternet/anexos/160000-164999/161453/texact.htm">reformas introducidas ese año</a>, las agrupaciones políticas solo pueden recibir contribuciones y donaciones de personas físicas.</p>

		<h4>¿Qué importancia tiene conocer cómo se financian las campañas políticas?</h4>
	
			<p>Los recursos invertidos en campañas políticas tienen una gran influencia en la capacidad que los partidos tienen para dar a conocer sus propuestas y atraer votos, pero a su vez, pueden condicionar a los candidatos y partidos una vez que asuman sus cargos. Conocer quién financia las campañas y de donde proviene ese dinero nos permite explorar las motivaciones de los candidatos y las posibles consecuencias en sus planes de gobierno.</p>
	</div>
	<div class="fuentes tab-pane" id="fuentes">
		<h4>¿De donde salen los datos de aportes?</h4>

			<p>Los aportes de las elecciones de 2013 fueron obtenidos de las <a target="_blank" href="http://www.electoral.gov.ar/financiamientoconsolidado.php">planillas ExcelOnline</a> publicadas por la <a target="_blank" href="http://www.electoral.gov.ar/">Cámara Nacional Electoral</a>. La <a target="_blank" href="http://poderciudadano.org/">Fundación Poder Ciudadano</a> facilitó los aportes de 2007 y 2009, publicados en su sitio <a target="_blank" href="http://dineroypolitica.org/">Dinero y Política</a> y los de 2011 fueron extraídos por el equipo de minería de datos de <a href="http://blogs.lanacion.com.ar/data/" target="_blank">La Nación Data</a> de los informes de las agrupaciones políticas.</p>

		<h4>¿De donde salen los datos de aportantes?</h4>
			
			<p><img src="images/icons/M.png" height="32" align="left"><img src="images/icons/F.png" height="32" align="left"><b>Sexo y edad.</b> <a target="_blank" href="http://buscardatos.com">Buscar Datos</a> y <a href="http://cuitonline.com"> CUIT Online</a> proveyeron la mayor parte, imputándose los faltantes mediante una estimación basada en el número de documento para la edad y el nombre de pila del aportante o el dígito final de la clave de identificación tributaria para el sexo.</p>
			
			<p><img src="images/icons/map.png" width="32" align="left"><b>Domicilio</b>. Mediante <a target="_blank" href="http://buscardatos.com">Buscar Datos</a> y <a href="http://cuitonline.com"> CUIT Online</a> se convirtieron matrículas de identidad y claves tributarias en domicilios, que fueron georreferenciados mediante el servicio de <a target="_blank" href="http://gmaps-samples.googlecode.com/svn/trunk/geocoder/singlegeocode.html">GeoCode de Google</a>, con controles de consistencia.</p>
			
			<p><img src="images/icons/iva.png" align="left"><b>Inscripciones fiscales.</b> Se obtuvieron cruzando las claves de identificación tributaria con el <a target="_blank" href="http://www.afip.gob.ar/genericos/cInscripcion/archivoCompleto.asp">archivo completo de la condición tributaria de los contribuyentes y responsables de la Resolución General N° 1817</a> de la <a target="_blank" href="http://www.afip.gov.ar">Administración Federal de Ingresos Públicos</a>, a julio de 2014.</p>
			
			<p><img src="images/icons/designacion.gif" align="left"><b>Designaciones políticas.</b> Se obtuvieron cruzando las matrículas de identidad y su ocurrencia en el texto de más de 14.000 disposiciones de designación, nombramiento o prórroga de designaciones en el Boletín Oficial de la República Argentina extraídas de <a target="_blank" href="http://infoleg.mecon.gov.ar">Información Legislativa del Ministerio de Economía</a>, a julio de 2014. Puede consultarse un desarrollo <a target="_blank" href="http://poderofilia.andytow.com">aquí</a>.</p>
			
			<p><img src="images/icons/candidatura.gif" align="left"><b>Candidaturas. </b>Se obtuvieron cruzando datos del <a href="http://www.andytow.com">Atlas Electoral de Andy Tow</a>, que recopila datos de la <a target="_blank" href="http://www.elecciones.gov.ar">Dirección Nacional Electoral</a>, la <a href="http://www.electoral.gov.ar">Cámara Nacional Electoral</a> y otros organismos, y de los informes de las agrupaciones, a partir de la matrícula de identidad cuando disponible, o los nombres y apellido, con un control manual aplicado en este último criterio.</p>
			
			<p><img src="images/icons/contrato.gif" align="left"><b>Contratos de empleo público.</b> Los aportantes que registraron contratos en la Administración Pública Nacional en 2013 fueron obtenidos en el sitio de la <a target="_blank" href="http://www.sgp.gov.ar/contenidos/onep/onep.html">Oficina Nacional de Empleo Público</a> cruzando las matrículas de identidad de los aportantes con los más de 50.000 registros correspondientes.</p>

			<p><img src="images/icons/autoridad.gif" align="left"><b>Autoridades partidarias.</b> Fueron identificados a partir del cruce de la matrícula de identidad de los aportantes con la registrada en la nómina facilitada por la <a href="http://www.electoral.gov.ar">Cámara Nacional Electoral</a>, a julio de 2014.</p>						
			
			<p><img src="images/icons/diputado.gif" align="left"><b>Mandatos legislativos.</b> Surgen del cruce de apellidos y nombres de los registros históricos de la <a target="_blank" href="http://www.archivodiputados.gob.ar/diputado/form.htm">H. Cámara de Diputados de la Nación</a> y el <a target="_blank" href="http://www.senado.gov.ar/senadores/Historico/Periodo">H. Senado de la Nación</a> desde 1854 con una revisión manual de los datos resultantes por posible ambigüedad. Las bases de <a target="_blank" href="https://www.google.com/fusiontables/DataSource?docid=1QlEC7yL1Au6ePhLopmOAKPsP0xIfH42foYw0w10">Diputados Nacionales</a> y <a target="_blank" href="https://www.google.com/fusiontables/DataSource?docid=1P4kyTfizGreww16GySJu65Ne_vZ0UuaDy2Xpc9A">Senadores Nacionales</a> pueden descargarse completas.</p>
	</div>
	<div class="legal tab-pane" id="legal">
		<h4>Protección de datos personales</h4>
		
			<p>La información contenida en este sitio fue obtenida a partir de documentos oficiales y bases de datos de acceso público, pero no constituye información oficial y es tan completa como lo permiten sus fuentes. Hacemos todos los esfuerzos posibles y razonables por mantener la información completa y fiel a la original. En ocasiones puede haber errores o modificaciones involuntarias durante el proceso de obtención y procesamiento de los datos.</p>
			
			<p>La <a href="http://www.infoleg.gob.ar/infolegInternet/anexos/60000-64999/64790/texact.htm" target="_blank">ley 25.326 de Protección de los Datos Personales</a> dispone que no será necesario el consentimiento del titular de los datos cuando los mismos se obtienen de fuentes de acceso público irrestricto, se recaben para el ejercicio de funciones propias de los poderes del Estado o en virtud de una obligación legal. Asimismo, que los datos sensibles, tales como los que revelan la opinión política de sus titulares, pueden ser recolectados y objeto de tratamiento.</p>
			
			<p>Cumplimos en informar que el titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al efecto conforme lo establecido en el artículo 14, inciso 3 de la ley 25.326. La Dirección Nacional de Protección de Datos Personales, Órgano de Control de la ley 25.326, tiene la atribución de atender las denuncias y reclamos que se interpongan con relación al incumplimiento de las normas sobre protección de datos personales.</p>			
			
			<p>Por su parte, la <a href="http://www.indec.mecon.ar/Ley_17622.htm" target="_blank">ley 17.622 de Marco Legal para las Estadísticas Oficiales</a> exceptúa del secreto estadístico el nombre y apellido, o razón social, domicilio y rama de actividad.</p>
			
			<p>Puede reportar errores u omisiones a <a href="mailto:larutaelectoral@andytow.com">larutaelectoral@andytow.com</a>.
			
			<p><b>Nota:</b> Registrar base de datos en la Dirección Nacional de Protección de Datos Personales para hábeas data.</p>
	</div>
</div>	