<form role="form">
    <div class="form-group">
        <label for="filterYear">
            Año
            <a href="#" ng-click="filter.year = null" ng-show="filter.year" prevent-click>
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </label>
        <select class="form-control" id="filterYear"
                ng-model="filter.year" ng-options="year for year in years">
        </select>
    </div>

    <div class="form-group">
        <label for="filterType">
            Elecciones
            <a href="#" ng-click="filter.type = null" ng-show="filter.type" prevent-click>
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </label>
        <select class="form-control" id="filterType"
                ng-model="filter.type" ng-options="type for type in types">
        </select>
    </div>

    <div class="form-group">
        <label for="filterDistrict">
            Distrito
            <a href="#" ng-click="filter.district = null" ng-show="filter.district" prevent-click>
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </label>
        <select class="form-control" id="filterDistrict"
                ng-model="filter.district" ng-options="district for district in districts">
        </select>
    </div>

    <div class="form-group">
        <label for="filterParty">
            Agrupación política
            <a href="#" ng-click="filter.party = null" ng-show="filter.party" prevent-click>
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </label>
        <select class="form-control" id="filterParty"
                ng-model="filter.party" ng-options="party.nombre for party in parties">
        </select>
    </div>
	<hr>
<!--    <button class="btn btn-link" ng-click="advancedFilterCollapsed = !advancedFilterCollapsed">Filtro avanzado</button>
	<div collapse="advancedFilterCollapsed">-->
		<ul class="nav nav-tabs" role="tablist">
			<li class="active"><a href="#demographics" data-toggle="tab" class="tab-btn">Avanzado</a></li>
			<li><a href="#politonomics" data-toggle="tab" class="tab-btn">Más</a></li>
		</ul>	
	<div class="tab-content">
	<div class="demographics tab-pane active" id="demographics">	
        <form role="form">
            <div class="from-group">
                <label>
                   
                    <a href="#" ng-click="filter.sexes = { }" ng-show="hasAnyTrueValues(filter.sexes)" prevent-click>
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </label>

                <label ng-repeat="sex in sexes">
                    <input type="checkbox" ng-model="filter.sexes[sex.val]" ng-checked="selected">
                    <img ng-src="images/icons/{{ sex.name }}.png" height="32">
                </label>			
				
            </div>
			
            <div class="from-group">
                <label>
                    Edad
                    <a href="#" ng-click="filter.ages = { }" ng-show="hasAnyTrueValues(filter.ages)" prevent-click>
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </label><br/>

                <label ng-repeat="age in ages">
                    <input type="checkbox" ng-model="filter.ages[age.val]">
                    <small>{{ age.name }}</small>&nbsp;&nbsp;
                </label>
            </div>

            <div class="from-group">
                <label>
                    Aporte
                    <a href="#" ng-click="filter.amounts = { }" ng-show="hasAnyTrueValues(filter.amounts)" prevent-click>
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </label><br/>

				<ul class="list-unstyled">
                <li ng-repeat="amount in amounts">
                    <input type="checkbox" ng-model="filter.amounts[amount.val]">
                    <small>{{ amount.name }}</small>
                </li>
				</ul>
            </div>
		</div>
		<div class="politonomics tab-pane" id="politonomics">	
            <div class="from-group">
                <label>
                    Fiscal
                    <a href="#" ng-click="filter.taxes = { }" ng-show="hasAnyTrueValues(filter.taxes)" prevent-click>
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </label><br/>
				
				<ul class="list-unstyled">
                <li ng-repeat="tax in taxes">
					<a href="#" ng-click="filter.taxes[tax.val]='selected'">
					<img src="images/icons/{{ tax.val }}.png" width="16">
                    <small>{{ tax.name }}&nbsp;</small>
					</a>
                    <a href="#" ng-click="filter.taxes[tax.val] = false" ng-checked="selected" ng-show="hasAnyTrueValues(filter.taxes[tax.val])" prevent-click>
					<span class="glyphicon glyphicon-remove"></span>
					</a>					
                </li>
				</ul>
            </div>

            <div class="from-group">
                <label>
                    Dirigencial
                    <a href="#" ng-click="filter.rulers = { }" ng-show="hasAnyTrueValues(filter.rulers)" prevent-click>
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </label><br/>

				<ul class="list-unstyled">
                <li ng-repeat="ruler in rulers">
					<a href="#" ng-click="filter.rulers[ruler.val]='selected'">
					<img src="images/icons/{{ ruler.val }}.gif" width="16">
                    <small>{{ ruler.name }}&nbsp;</small>
					</a>
					<a href="#" ng-click="filter.rulers[ruler.val] = false" ng-checked="selected" ng-show="hasAnyTrueValues(filter.rulers[ruler.val])" prevent-click>
					<span class="glyphicon glyphicon-remove"></span>
					</a>					
                </label>
				</li>
            </div> 	 			
        </form>
		</div>
    <!--</div>-->

</form>