<table class="borderless" ng-class="{ 'map-loading': loading }" ng-init="addDataToMap()">
<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
</table>
<div class='ui-control'>
  <div id='pan' class='ui-pan'>
    <a href='#' id='up' class='panner up'>&#9650;</a>
    <a href='#' id='right' class='panner right'>&#9654;</a>
    <a href='#' id='down' class='panner down'>&#9660;</a>
    <a href='#' id='left' class='panner left'>&#9664;</a>
  </div>
</div>
<div id="map"></div>
<h4 style="margin-top: 0px; margin-bottom: 0px">Aportantes georreferenciados ({{ totalItems }})</h4>
<div align="center" id="legend">
	<table>
		<tr>
			<td><div id="scale"></div></td>
		</tr>
	</table>
</div>

<script>
					
var jsonCirclesTrans = 
  [
	{ "x_axis": 30, "y_axis": 60, "radius": 4},
    { "x_axis": 42, "y_axis": 60, "radius": 7},
    { "x_axis": 65, "y_axis": 60, "radius": 10},
	{ "x_axis": 100, "y_axis": 60, "radius": 16},
	{ "x_axis": 155, "y_axis": 60, "radius": 23},
	{ "x_axis": 260, "y_axis": 60, "radius": 44}
  ];

 var svgTrans = d3.select("#scale")
					.append("svg")
					.attr("width", 400)
					.attr("height", 120);

 var circlesTrans = svgTrans.selectAll("circleTrans")
					.data(jsonCirclesTrans)
					.enter()
					.append("circle");

 var scaleTrans = circlesTrans
				.attr("cx", function (d) { return d.x_axis; })
				.attr("cy", function (d) { return d.y_axis; })
				.attr("r", function (d) { return d.radius; })
				.style("fill", "grey")
				.style("opacity", 0.3);

var jsonCircles = 
  [
	{ "x_axis": 25, "y_axis": 60, "radius": 3, "name" : "< $5.000" },
    { "x_axis": 35, "y_axis": 60, "radius": 6, "name" : "$5.000"},
    { "x_axis": 53, "y_axis": 60, "radius": 8, "name" : "$10.000"},
	{ "x_axis": 80, "y_axis": 60, "radius": 12, "name" : "$20.000"},
	{ "x_axis": 125, "y_axis": 60, "radius": 19, "name" : "$50.000"},
	{ "x_axis": 205, "y_axis": 60, "radius": 40, "name" : "$100.000"},	
	{ "x_axis": 325, "y_axis": 60, "radius": 60, "name" : "$500.000 +"}	
  ];
 
 var circles = svgTrans.selectAll("circleTrans")
                .data(jsonCircles)
                .enter()
                .append("circle");

 var scale = circles
				.attr("cx", function (d) { return d.x_axis; })
				.attr("cy", function (d) { return d.y_axis; })
				.attr("r", function (d) { return d.radius; })
				.style("fill", "grey")
				.attr("title", function (d) { return d.name; })
				.attr("alt", function (d) { return d.name; })
				.on("mouseover", function()
					{d3.select(this)
					.style("fill", "black")
					.style("opacity", 0.7)})
				.on("mouseout", function()
					{d3.select(this)
					.style("fill", "grey")
					.style("opacity", 1);})
				.call(d3.helper.tooltip_scale(function(d) { return (d.name);}));
				
</script>