<div id="map"></div>
<p align="center">Los colores indican agrupamientos de nivel nacional</p>
<svg width="960" height="120">
<circle cx="25" cy="60" r="2.5" fill="grey" title="<$5.000" />
<circle cx="35" cy="60" r="5" fill="grey" title="<$10.000" />
<circle cx="53" cy="60" r="10" fill="grey" title="<$20.000" />
<circle cx="80" cy="60" r="12.5" fill="grey" title="<$50.000" />
<circle cx="125" cy="60" r="25" fill="grey" title="<$100.000" />
<circle cx="205" cy="60" r="40" fill="grey" title="<$500.000" />
<circle cx="325" cy="60" r="60" fill="grey" title=">=$500.000" title=">=$500.000" />
</svg>



    