<h3 class="page-header">Aportes ({{ totalItems }})</h3>

<table class="table" ng-init="pageChanged()">
    <thead>
    <th>Ciclo</th>
    <th>Elección</th>
    <th>Distrito</th>
    <th>Aportante</th>
    <th>Agrupación</th>
    <th>Monto</th>
    </thead>
    <tbody>
    <tr ng-repeat="aporte in aportes" ng-class="{ 'text-muted': fetching }">
        <td>{{ aporte.ciclo }}</td>
        <td>{{ aporte.eleccion }}</td>
        <td>{{ aporte.distrito }}</td>
        <td><a ng-href="#/aportante/{{ aporte.aportante.documento }}">{{ aporte.aportante.nombre }} {{ aporte.aportante.apellido }}</a></td>
        <td>{{ aporte.agrupacion.nombre }}</td>
        <td>$ {{ aporte.importe }}</td>
    </tr>
    </tbody>
</table>

<div class="text-center">
    <pagination total-items="totalItems"
                ng-change="pageChanged()"
                ng-model="currentPage"
                max-size="maxSize"
                class="pagination-sm"
                boundary-links="true"
                rotate="false"
                num-pages="totalPages"
                first-text="Primera"
                last-text="Última"
                previous-text="Anterior"
                next-text="Siguiente">
    </pagination>
</div>