<div class="row">
    <div class="col-lg-3">
        <h4 style="margin-top: 0px; margin-bottom: 0px">Aportes ({{ totalItems }})</h4>
    </div>
    <div class="col-lg-9">
        <form class="form-inline" role="form">
            <div class="form-group">
                <input type="search" class="form-control" id="filterName" ng-model="filter.aportanteName" placeholder="Buscar por apellido">
            </div>
            <button type="submit" class="btn btn-default" ng-click="filterByName()">Buscar</button>
            <a href="#" ng-click="filter.aportanteName = null; filterByName()" ng-show="filter.aportanteName" prevent-click>
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </form>
    </div>
</div>
<hr/>


<table  class="table table-striped" ng-init="pageChanged()">
    <thead>
    <th><center>Ciclo</center></th>
    <th><center>Elección</center></th>
    <th><center>Distrito</center></th>
    <th><center>Aportante</center></th>
    <th><center>Agrupación</center></th>
    <th><center>Monto</center></th>
    </thead>
    <tbody>
    <tr ng-repeat="aporte in aportes" ng-class="{ 'text-muted': fetching }">
        <td><a ng-click="filter.year={{ aporte.ciclo }}";>{{ aporte.ciclo }}</a></td>
        <td><a ng-click="filter.type='{{ aporte.eleccion }}'";>{{ aporte.eleccion }}</a></td>
        <td><a ng-click="filter.district='{{ aporte.distrito }}'";>{{ aporte.distrito }}</a></td>
        <td><a ng-href="#/aportante/{{ aporte.aportante.documento }}">{{ aporte.aportante.nombre }} {{ aporte.aportante.apellido }}</a></td>
        <td><a ng-click="filter.party.id={{ aporte.agrupacion_id }}";"filter.party='{{ aporte.agrupacion.nombre }}'";>{{ aporte.agrupacion.nombre }}</a></td>
        <td align="right">$ {{ aporte.importe }}</td>
    </tr>
    </tbody>
</table>

<div class="text-center">
    <pagination total-items="totalItems"
                ng-change="pageChanged()"
                ng-model="currentPage"
                max-size="maxSize"
                class="pagination-sm"
                boundary-links="true"
                rotate="false"
                num-pages="totalPages"
                first-text="Primera"
                last-text="Última"
                previous-text="Anterior"
                next-text="Siguiente">
    </pagination>
</div>