<div class="row">
    <div class="col-lg-3">
        <h4 style="margin-top: 0px; margin-bottom: 0px">Aportes ({{ totalItems }})</h4>
    </div>
    <div class="col-lg-6">
        <form class="form-inline" role="form">
            <div class="form-group">
                <input type="search" class="form-control" id="filterName" ng-model="filter.aportanteName" placeholder="Buscar por apellido">
            </div>
            <button type="submit" class="btn btn-default" ng-click="filterByName()">Buscar</button>
            <a href="#" ng-click="filter.aportanteName = null; filterByName()" ng-show="filter.aportanteName" prevent-click>
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </form>
    </div>
	<div class="col-lg-3">
		<table class="table">
		<tr><td>Promedio</td><td align="right">$<b>{{ average | number:0 }}</b></td></tr>
		<tr><td>Total</td><td align="right">$<b>{{ sum | number:0 }}</b></td></tr>
		</table>
</div>
<hr/>


<table class="table table-striped" ng-class="{ 'table-loading': fetching }" ng-init="pageChanged()">
    <thead>
    <th><center>Ciclo</center></th>
    <th><center>Elección</center></th>
    <th><center>Distrito</center></th>
    <th><center>Aportante</center></th>
    <th><center>Agrupación</center></th>
    <th><center>Monto</center></th>
    </thead>
    <tbody>
    <tr ng-repeat="aporte in aportes" ng-class="{ 'text-muted': fetching }">
        <td width="5%"><a ng-click="filter.year={{ aporte.ciclo }}">{{ aporte.ciclo }}</a></td>
        <td width="5%"><a ng-click="filter.type='{{ aporte.eleccion }}'">{{ aporte.eleccion }}</font></td>
        <td width="15%"><a ng-click="filter.district='{{ aporte.distrito }}'">{{ aporte.distrito }}</a></td>
        <td width="25%"><a class="fancybox fancybox.iframe" href="views/aportante.php?doc={{ aporte.aportante.documento }}" target="_blank">{{ aporte.aportante.nombre }} {{ aporte.aportante.apellido }}</a></td>
        <td width="30%"><a ng-click="setParty(aporte.agrupacion.id)"><font color="#{{ aporte.color }}">{{ aporte.agrupacion.nombre }}</font></a></td>
        <td align="right" width="10%">$ {{ aporte.importe | number:0 }}</td>
    </tr>
    </tbody>
</table>

<div class="text-center">
    <pagination total-items="totalItems"
                ng-change="pageChanged()"
                ng-model="currentPage"
                max-size="maxSize"
                class="pagination-sm"
                boundary-links="true"
                rotate="false"
                num-pages="totalPages"
                first-text="Primera"
                last-text="Última"
                previous-text="Anterior"
                next-text="Siguiente">
    </pagination>
</div>