	<h3>Equipo</h3>
	<div class="row">
		<div class="col-md-6">
		<ul>
			<ol>
			<b>Desarrollo: </b><a target="_blank" href="https://twitter.com/andy_tow">
			Andy Tow</a>, 
			<a target="_blank" href="https://twitter.com/gaba">Gabriela Rodr&iacute;guez</a>, 
			<a href="https://twitter.com/momiperalta">Momi Peralta Ramos</a>, 
			<a target="_blank" href="https://twitter.com/rgbrom">Ricardo Brom</a>, 
			<a target="_blank" href="https://twitter.com/belbosays">Gonzalo Bellver</a>.
			</ol>
			<ol>
			<p><b>Colaboradores: </b>
			<a target="_blank" href="https://twitter.com/aaizemberg">Ariel Aizemberg</a>,
			Francisco Facioni,
			<a target="_blank" href="https://twitter.com/juliapomares">Julia Pomares</a>,
			<a target="_blank" href="https://twitter.com/soniajalfin">Sonia Jalfin</a>,
			<a target="_blank" href="https://twitter.com/ropavese">
			Rosario Pavese</a>,
			<a target="_blank" href="https://twitter.com/pablosecchi">Pablo Secchi</a>,
			<a target="_blank" href="https://twitter.com/juanibelbis">Juan Ignacio
			Belbis</a>, <a target="_blank" href="https://twitter.com/fcoel">
			Florencia Coelho</a>, 
			<a target="_blank" href="https://twitter.com/_paez">Cristian P&aacute;ez</a>,
			<a target="_blank" href="https://twitter.com/cubetto">Nicol&aacute;s Cohen</a>,
			<a target="_blank" href="https://twitter.com/colmanromi">Romina Colman</a>.
			</ol>
		</ul>
		<hr>
		  <ul>
			<ol>
				<a href="http://blogs.lanacion.com.ar/data/" target="_blank"><img src="../images/icons/lndata.png"></a>
				<a href="http://opennews.org/" target="_blank"><img src="../images/icons/opennews.png"></a>
			</ol>
			<hr>
			<ol>
				<a href="http://www.cippec.org/" target="_blank"><img src="../images/icons/cippec.png"></a>
				<a href="http://www.poderciudadano.org" target="_blank"><img src="../images/icons/poderciudadano.png"></a>
			</ol>
			<hr>
			<ol><a href="http://andytow.com/blog/" target="_blank"><img src="../images/icons/blogdeandytow.png"></a></ol>
		  </ul>
		</div>
		<div class="col-md-6">
		<b>Con el apoyo de:</b>
		  <ul>
			<ol><a href="http://hackslabs.org/" target="_blank">
				<img src="../images/icons/hackslabs.png"></a>
			</ol>
			<hr>
			<ol>
				<a href="http://www.icfj.org/" target="_blank">
				<img src="../images/icons/ICFJ.png"></a>
			</ol>
			<hr>
			<ol>
				<a href="http://wbi.worldbank.org/wbi/" target="_blank">
				<img src="../images/icons/WBI.png"></a>
			</ol>
		  </ul>
		</div>
	</div>
