<div id="treemap-loading">
<img src="images/ajax-loader.gif">
</div>
<treemap id="treemap">
</treemap>
<br><br>
	<table class="borderless"><tr><td width="20%"></td><td><small>Esta plataforma muestra información sobre los aportes privados a las campañas presidenciales de 2007 y 2011 y legislativas nacionales de 2007, 2009, 2011 y 2013. Para explorar los datos, elija los filtros que desee en la columna de la derecha y/o clickee sobre los recuadros o círculos para ver información desagregada</small></td><td width="20%"></td></tr></table>