	<h3>Tutorial</h3>
	<div class="row">
		<div class="col-md-6">
		<ul>
			<ol>
			<b>Aquí un video de demo de la app, reportaje a los programadores y especialistas</b>
			<iframe width="427" height="255" src="//www.youtube.com/embed/ocZiEOZFnh0" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col-md-6">
		<b>Con el apoyo de:</b>
		  <ul>
			<ol><a href="http://hackslabs.org/" target="_blank">
				<img src="images/icons/hackslabs.png"></a>
			</ol>
			<hr>
			<ol>
				<a href="http://www.icfj.org/" target="_blank">
				<img src="images/icons/ICFJ.png"></a>
			</ol>
			<hr>
			<ol>
				<a href="http://wbi.worldbank.org/wbi/" target="_blank">
				<img src="images/icons/WBI.png"></a>
			</ol>
		  </ul>
		</div>
	</div>
