<div class="container">
    <div class="row">
      <div class="col-md-12">

        <form method="POST" action="/" class="form-inline" role="form">

          {{ form.hidden_tag() }}

          <div class="form-group">
            {{ form.nombre.label }}
            {{ form.nombre(size=50) }}
            {% if form.nombre.errors %}
              <ul class="bg-danger list-unstyled">
              {% for error in form.nombre.errors %}
                <li>{{ error }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>

          <input type="submit" class="btn btn-primary" value="Enviar">
        </form>
      </div>
    </div>
  </div>
