<div class="insideSplitter"><p>Filtros:</p>
<div id="layer_selector" class="cartodb-infobox">
    <ul>
        <li class="selected">Todas las agrupaciones</li>
        <li data="0"><font color="#386cb0">Frente para la victoria</font></li>
        <li data="1"> <font color="018571">Frente Renovador,<br>Unión por Córdoba,<br>Unidos por la Libertad</font></li>
        <li data="2"><font color="#d7191c">Frente Progresista,<br>Cívico y Social, UNEN,<br>Unión Cívica Radical</font></li>
        <li data="3"><font color="#868a08">Pro - Unión Pro-PD,<br>Santa Fe Federal</font></li>
    </ul>
</div>
</div>
