<!DOCTYPE html>
<html lang="es">
<head>
    <link type='text/css' rel='stylesheet' href='//fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic'>

    <link type='text/css' rel="stylesheet" href="views/viz1/scripts/bootstrap.min.css"/>

    <link rel="stylesheet" href="//libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />

    <link type="text/css" rel="stylesheet" href="views/viz1/scripts/map.css">
    <link type="text/css" rel="stylesheet" href="views/viz1/scripts/main.css">

</head>
<body>

<div class="insideSplitter">
    <tabset justified="true">
        <tab heading="Visualización">
            <div id="container-map">
                <div id="map"></div>
                <div id="map-info" class="cartodb-infobox">
                    <h4>Aportes privados en<br>elecciones primarias</h4>
                    <h3>2013</h3>
                    <img src="../static/img/aportes2013escala.png">
                </div>
            </div>
        </tab>
        <tab heading="Tabla">
            <input id="fullTableFilter" type="text" placeholder="filter by.."></input>
            <div id="fullTable"></div>
            <script id="fullTable" type="text/html">
                <table class="table table-striped">

                    <tr>
                        <th>Elecciones</th>
                        <th>Aportante</th>
                        <th>Documento</th>
                        <th>Importe</th>
                        <th>Agrupación</th>
                        <th>Distrito</th>
                    </tr>

                    {{#rows}}
                    <tr><td>{{elecciones}}</td><td>{{nombre}}</td><td>{{documento}}</td><td>{{importe}}</td><td>{{agrupacion}}</td><td>{{distrito}}</td></tr>

                    {{/rows}}

                </table>
            </script>
        </tab>
    </tabset>
</div>


<script type='text/javascript' src='views/viz1/scripts/jquery.min.js'></script>
<script type='text/javascript' src='views/viz1/scripts/tabletop1.3.5.js'></script>
<script type='text/javascript' src='views/viz1/scripts/sheetsee.js'></script>

<script type='text/javascript' src='views/viz1/scripts/cartodb.js'></script>

<script type='text/javascript' src='views/viz1/scripts/map.js'></script>
<script type='text/javascript' src='views/viz1/scripts/main.js'></script>

</body>
</html>
