<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/assets/ico/favicon.ico">

    <title>Aportes de Campaña de Elecciones en Argentina </title>

    <link type='text/css' rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link type='text/css' rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}"/>

    {% block head %}
    {% endblock %}
</head>
<body>

 <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">La Ruta Electoral</a>
    </div>
  </nav>

  <!-- Begin page content -->
  <div class="container">

    <div class="row"  ng-controller="TabsCtrl" ng-init="isFiltersDisable=true">

      <!-- ///// TABS ///// -->
      <div class="col-sm-2 col-md-2 sidebar">

        <ul class="nav nav-pills nav-stacked">
          <li id="treemap"><a href="{{ url_for('index', viz='treemap') }}">Treemap</a></li>
          <li id="mapa"><a href="{{ url_for('index', viz='mapa') }}">Mapa</a></li>
          <li id="graficos"><a href="{{ url_for('index', viz='graficos') }}">Gráficos</a></li>
          <li id="tabla"><a href="{{ url_for('index', viz='tabla') }}">Tabla</a></li>
        </ul>

      </div>

      {% block content %}{% endblock %}
    </div>

  </div> <!-- Fin contenido -->

  <!-- Footer -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <a href="{{ url_for('about') }}">Sobre el sitio</a> | <a href="{{ url_for('faq') }}">Preguntas frecuentes</a> | <a href="{{ url_for('team') }}">El equipo</a>
      </div>

<!--      <div class="row text-center">
        <a href="http://hackslabs.org/" target="_blank" class="img-thumbnail"><img src="{{ url_for('static', filename='img/icons/hackslabs.png')}}"></a>

         <a href="http://www.icfj.org/" target="_blank" class="img-thumbnail"><img src="{{ url_for('static', filename='img/icons/ICFJ.png')}}"></a>

         <a href="http://wbi.worldbank.org/wbi/" target="_blank" class="img-thumbnail"><img src="{{ url_for('static', filename='img/icons/WBI.png')}}"></a>
       </div>
       <div class="row text-center">
         <a href="http://lanacion.com.ar" target="_blank" class="img-thumbnail"><img src="{{ url_for('static', filename='img/icons/lndata.png')}}"></a>
         <a href="http://lanacion.com.ar" target="_blank" class="img-thumbnail"><img src="{{ url_for('static', filename='img/icons/poderciudadano.png')}}"></a>
         <a href="http://lanacion.com.ar" target="_blank" class="img-thumbnail"><img src="{{ url_for('static', filename='img/icons/cippec.png')}}"></a>
         <a href="http://www.opennews.org" target="_blank" class="img-thumbnail"><img src="{{ url_for('static', filename='img/icons/opennews.png')}}"></a>
         <a href="http://www.andytow.com" target="_blank" class="img-thumbnail"><img src="{{ url_for('static', filename='img/icons/blogdeandytow.png')}}"></a>
       </div>-->
    </div>
  </div>

<!-- ==================== JAVASCRIPTS =============== -->

<script type='text/javascript' src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>
