<script>
    var cantidad_aportantes_F = parseInt('{{ cantidad_aportantes_por_sexo['F'] }}');
    var cantidad_aportantes_M = parseInt('{{ cantidad_aportantes_por_sexo['M'] }}');
</script>

<h4>Aportantes por Sexo</h4>

<div id="chart_sexo">
  <svg style="height:300px;width:300px;"></svg>
</div>

<hr>

<h4>Aportantes por Agrupaciones</h4>

<div id="chart_agrupaciones">
  <svg style="height:400px;width:400px;"></svg>
</div>

<hr>

<h4>

<script>
  //Regular pie chart example
  nv.addGraph(function() {
    var chart = nv.models.pieChart()
        .x(function(d) { return d.label })
        .y(function(d) { return d.value })
        .showLabels(true);

      d3.select("#chart_sexo svg")
          .datum(datosSexo())
          .transition().duration(350)
          .call(chart);

    return chart;
  });

  function datosSexo() {
    return  [
        {
          "label": "Femenino",
          "value" : cantidad_aportantes_F
        } ,
        {
          "label": "Masculino",
          "value" : cantidad_aportantes_M
        } ]
      };
</script>

<script>
  //Regular pie chart example
  nv.addGraph(function() {
    var chart = nv.models.pieChart()
        .x(function(d) { return d.label })
        .y(function(d) { return d.value })
        .showLabels(true);

      d3.select("#chart_agrupaciones svg")
          .datum(datosAgrupaciones())
          .transition().duration(350)
          .call(chart);

    return chart;
  });

  function datosAgrupaciones() {
    return  [
        {
          "label": "Frente para la victoria",
          "value" : 300
        } ,
        {
          "label": "Frente Renovador",
          "value" : 200
        },
        {
          "label": "Unidos pora la libertad y el trabajo",
          "value" : 300
        } ,
        {
          "label": "Nuevo Buenos Aires",
          "value" : 300
        }
        ]
      };
</script>
