<script>
    var count_aportantes_por_sexo = {{ cantidad_aportantes_por_sexo|tojson }};
    var count_aportantes_por_edad = {{ cantidad_aportantes_por_edad|tojson }};
    var count_aportantes_agrupaciones = {{ cantidad_aportantes_por_agrupaciones|tojson }};
  	var count_aportantes_monotributistas = [
  									{ "key": "monotributistas",
  									  "values": [
  													{"label": "Monotributo", "value": 3400},
  													{"label": "Ganancias", "value": 4343},
  													{"label": "IVA", "value": 43343}
  												]
  									}
  								];
</script>

<h4>Aportantes por Sexo</h4>

<div id="chart_count_sexo">
  <svg style="height:200px;width:200px;"></svg>
</div>

<h4>Aportantes por Edad</h4>

<div id="chart_count_edad">
  <svg style="height:200px;width:200px;"></svg>
</div>

<h4>Aportantes por Agrupaciones</h4>

<div id="chart_count_agrupaciones">
  <svg style="height:200px;width:200px;"></svg>
</div>


<script>
  //Regular pie chart example
  nv.addGraph(function() {
    var chart = nv.models.discreteBarChart()
        .x(function(d) { return d.label })
        .y(function(d) { return d.value })
        .staggerLabels(false)
        .tooltips(true)        //Don't show tooltips
        .showValues(false)       //...instead, show the bar value right on top of each bar.
        .transitionDuration(350)

      d3.select("#chart_count_sexo svg")
          .datum(count_aportantes_por_sexo)
          .call(chart);

    return chart;
  });

  nv.addGraph(function() {
    var chart = nv.models.discreteBarChart()
        .x(function(d) { return d.label })    //Specify the data accessors.
        .y(function(d) { return d.value })
        .staggerLabels(false)    //Too many bars and not enough room? Try staggering labels.
        .tooltips(true)        //Don't show tooltips
        .showValues(false)       //...instead, show the bar value right on top of each bar.
        .transitionDuration(350)
        ;

    d3.select('#chart_count_edad svg')
        .datum(count_aportantes_por_edad)
        .call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
  });

  nv.addGraph(function() {
    var chart = nv.models.discreteBarChart()
        .x(function(d) { return d.label })    //Specify the data accessors.
        .y(function(d) { return d.value })
        .staggerLabels(false)    //Too many bars and not enough room? Try staggering labels.
        .tooltips(true)        //Don't show tooltips
        .showValues(false)       //...instead, show the bar value right on top of each bar.
        .transitionDuration(350)
        ;

    d3.select('#chart_count_agrupaciones svg')
        .datum(count_aportantes_agrupaciones)
        .call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
  });
</script>
