<script>
    var sum_importe_por_sexo = {{ suma_aportes_por_sexo|tojson }};
    var sum_importe_por_edad = {{ suma_aportes_por_edad|tojson }};
    var sum_importe_agrupaciones = {{ suma_aportes_por_agrupaciones|tojson }};
</script>

<h4>Importe por Sexo</h4>

<div id="chart_sum_sexo">
  <svg style="height:200px;width:200px;"></svg>
</div>

<h4>Importe por Edad</h4>

<div id="chart_sum_edad">
  <svg style="height:200px;width:200px;"></svg>
</div>

<h4>Importe por Agrupaciones</h4>

<div id="chart_sum_agrupaciones">
  <svg style="height:200px;width:200px;"></svg>
</div>

<script>
  nv.addGraph(function() {
    var chart = nv.models.discreteBarChart()
        .x(function(d) { return d.label })
        .y(function(d) { return d.value })
        .staggerLabels(false)
        .tooltips(true)        //Don't show tooltips
        .showValues(false)       //...instead, show the bar value right on top of each bar.
        .transitionDuration(350)

      d3.select("#chart_sum_sexo svg")
          .datum(sum_importe_por_sexo)
          .call(chart);

    return chart;
  });
</script>
