<script>
    var datos_por_sexo = {{ cantidad_aportantes_por_sexo|tojson }};
    var datos_agrupaciones = {{ cantidad_aportantes_por_agrupaciones|tojson }};
</script>

<h4>Aportantes por Sexo</h4>

<div id="chart_sexo">
  <svg style="height:300px;width:300px;"></svg>
</div>

<hr>

<h4>Aportantes por Agrupaciones</h4>

<div id="chart_agrupaciones">
  <svg style="height:400px;width:400px;"></svg>
</div>

<hr>

<h4>

<script>
  //Regular pie chart example
  nv.addGraph(function() {
    var chart = nv.models.pieChart()
        .x(function(d) { return d.label })
        .y(function(d) { return d.value })
        .showLabels(true);

      d3.select("#chart_sexo svg")
          .datum(datos_por_sexo)
          .transition().duration(350)
          .call(chart);

    return chart;
  });

  nv.addGraph(function() {
    var chart = nv.models.discreteBarChart()
        .x(function(d) { return d.label })    //Specify the data accessors.
        .y(function(d) { return d.value })
        .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
        .tooltips(false)        //Don't show tooltips
        .showValues(true)       //...instead, show the bar value right on top of each bar.
        .transitionDuration(350)
        ;

    d3.select('#chart_agrupaciones svg')
        .datum(datos_agrupaciones)
        .call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
  });
</script>
