<form method="POST" action="/filtrar">

  {{ form.hidden_tag() }}

  <div class="row-fluid" ng-controller="FiltrosCtrl">
      <h3>Filtros</h3>

      <h4>{{ form.ciclos.label }}</h4>
       {{ form.ciclo(rows=3, multiple=True) }}

      <h4>{{ form.elecciones.label }}</h4>
      {{ form.eleccion(rows=2, multiple=True) }}

      <h4>{{ form.agrupaciones.label }}</h4>
      {{ form.agrupacion(rows=10, multiple=True, style="width:200px;" ) }}

      <h4>{{ form.distritos.label }}</h4>
      {{ form.distrito(rows=5, multiple=True) }}

  </div> <!-- Aca termina el controlador de filtros -->

  <button type="submit" class="btn btn-primary btn-group-lg btn-block">Filtrar</button>

</form>
