{% extends 'basic.html' %}
{% block title %} Treemap {% endblock %}

{% block head %}

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

{% endblock %}


{% block content %}
  <!-- ////// VISUALIZACIONES ////// -->

  <div class="col-md-8">
    <div id="aportantes" ng-show="agrupar_por">
      {% include 'charts-aportantes.html' %}
    </div>
    <div id="aportes" ng-hide="agrupar_por">
      <!--{% include 'charts-aportes.html' %}-->
    </div>
  </div>

  <!-- ///// FILTROS ///// -->
  <div class="col-md-2">

    <div class="row" ng-show="mostrar_agrupar_por" ng-init="agrupar_por = 'true'">
      <h3>Agrupar por</h3>
      <div class="input-group">
        <input type="radio" name="agrupar_por" id="aportantes" ng-model="agrupar_por" value=true>
        Aportantes
      </div><!-- /input-group -->
      <div class="input-group">
        <input type="radio" name="agrupar_por" id="aportes" ng-model="agrupar_por" value=false>
        Aportes
      </div><!-- /input-group -->
    </div>

    <form method="POST" action="/viz/graficos">

      {{ form.hidden_tag() }}

      <div class="row-fluid" ng-controller="FiltrosCtrl">
          <h3>Filtros</h3>

          <h4>{{ form.ciclo.label }}</h4>
           {{ form.ciclo(rows=3) }}

          <h4>{{ form.eleccion.label }}</h4>
          {{ form.eleccion(rows=2) }}

          <h4>{{ form.agrupacion.label }}</h4>
          {{ form.agrupacion(rows=10, style="width:200px;" ) }}

          <h4>{{ form.distrito.label }}</h4>
          {{ form.distrito(rows=5) }}

      </div> <!-- Aca termina el controlador de filtros -->

      <button type="submit" class="btn btn-primary btn-group-lg btn-block">Filtrar</button>

    </form>

  </div>

{% endblock %}
