<!DOCTYPE html>
<html lang="es" data-ng-app="aportesApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/assets/ico/favicon.ico">

    <title>API de Aportes de Campaña de Elecciones en Argentina</title>
</head>
<body>

<h3>Código de la API</h3>

<a href="https://github.com/gabelula/larutadeldinero">GitHub</a>. Se aceptan pull requests, comentarios y mejoras. 

<h3>Documentación</h3>

<a href="https://github.com/gabelula/larutadeldinero/wiki/API">Wiki en GitHub</a>

</body>
</html>
