    <style>
      html, body, #map {
        height: 100%;
        padding: 0;
        margin: 0;
      }

    </style>
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />

    <div id="map"></div>

    <script type="infowindow/html" id="infowindow_template">
      <div class="cartodb-popup v2">
        <a href="#close" class="cartodb-popup-close-button close">x</a>
        <div class="cartodb-popup-content-wrapper">
          <div class="cartodb-popup-content">
	          <div align="center">
	           <img src="http://www.andytow.com/scripts/larutaelectoral/img/<%= content.data.ciclo %>/<%= content.data.codlista %>-3.jpg" width="40%">
	<img src="http://www.andytow.com/scripts/larutaelectoral/img/icons/<%= content.data.sexo %>.png">
	<br><b><%= content.data.nombres %> <%= content.data.apellido %>
	<br><b>Clase <%= content.data.clase %></b>
	<br><b>Aporte:</b> $ <%= content.data.sumadeimporte %>
	          </div>
          </div>
        </div>
        <div class="cartodb-popup-tip-container"></div>
      </div>
    </script>

    <!-- include cartodb.js library -->
    <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>

    <script type="text/javascript">

      function main() {

        var map = L.map('map', {
          zoomControl: false,
          center: [-40, -60],
          zoom: 4
        });

        // add a nice baselayer from OpenStreetMap
      L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'OpenStretMap <a href="http://openstreetmap.org" target="_blank">Terms &amp; Feedback</a>'
      }).addTo(map);


        cartodb.createLayer(map, {
          user_name: 'andytow',
          type: 'cartodb',
          sublayers: [{
            sql: "select * from larutaelectoral where color = '018571'",
            layer_name: "larutaelectoral",
            cartocss: "#larutaelectoral { marker-fill-opacity: 0.9; marker-line-color: #FFF; marker-line-width: 1.5; marker-line-opacity: 1; marker-placement: point; marker-multi-policy: largest; marker-type: ellipse; marker-fill: #018571; marker-allow-overlap: true; marker-clip: false;} #larutaelectoral [ sumadeimporte <= 150000] { marker-width: 40.0; } #larutaelectoral [ sumadeimporte <= 100000] {  marker-width: 30.0; } #larutaelectoral [ sumadeimporte <= 50000] {  marker-width: 25.0; } #larutaelectoral [ sumadeimporte <= 10000] {  marker-width: 20.0; } #larutaelectoral [ sumadeimporte <= 5000] { marker-width: 15.0; } #larutaelectoral [ sumadeimporte <= 1000] {  marker-width: 10.0; } #larutaelectoral [ sumadeimporte <= 500] {  marker-width: 5.0; }",
            interactivity: "cartodb_id"
          }]
        })
          .addTo(map)
        .done(function(lyr) {
            var infowindow = cdb.vis.Vis.addInfowindow(map, lyr.getSubLayer(0), ['codlista', 'ciclo', 'sumadeimporte', 'agrupacion', 'elecciones', 'clase', 'cargo', 'sexo', 'apellido', 'nombres']);

            infowindow.model.set('template', function(data) {
                return _.template($('#infowindow_template').html())(data);
            });

          }).on('error', function() {
            console.log("some error occurred");
          });


        cartodb.createLayer(map, {
          user_name: 'andytow',
          type: 'cartodb',
          sublayers: [{
            sql: "select * from larutaelectoral where color = '386cb0'",
            layer_name: "larutaelectoral",
            cartocss: "#larutaelectoral { marker-fill-opacity: 0.9; marker-line-color: #FFF; marker-line-width: 1.5; marker-line-opacity: 1; marker-placement: point; marker-multi-policy: largest; marker-type: ellipse; marker-fill: #386cb0; marker-allow-overlap: true; marker-clip: false;} #larutaelectoral [ sumadeimporte <= 150000] { marker-width: 40.0; } #larutaelectoral [ sumadeimporte <= 100000] {  marker-width: 30.0; } #larutaelectoral [ sumadeimporte <= 50000] {  marker-width: 25.0; } #larutaelectoral [ sumadeimporte <= 10000] {  marker-width: 20.0; } #larutaelectoral [ sumadeimporte <= 5000] { marker-width: 15.0; } #larutaelectoral [ sumadeimporte <= 1000] {  marker-width: 10.0; } #larutaelectoral [ sumadeimporte <= 500] {  marker-width: 5.0; }",
            interactivity: "cartodb_id"
          }]
        })
          .addTo(map)
        .done(function(lyr) {
            var infowindow = cdb.vis.Vis.addInfowindow(map, lyr.getSubLayer(0), ['codlista', 'ciclo', 'sumadeimporte', 'agrupacion', 'elecciones', 'clase', 'cargo', 'sexo', 'apellido', 'nombres']);

            infowindow.model.set('template', function(data) {
                return _.template($('#infowindow_template').html())(data);
            });

          }).on('error', function() {
            console.log("some error occurred");
          });
        cartodb.createLayer(map, {
          user_name: 'andytow',
          type: 'cartodb',
          sublayers: [{
            sql: "select * from larutaelectoral where color = '50103'",
            layer_name: "larutaelectoral",
            cartocss: "#larutaelectoral { marker-fill-opacity: 0.9; marker-line-color: #FFF; marker-line-width: 1.5; marker-line-opacity: 1; marker-placement: point; marker-multi-policy: largest; marker-type: ellipse; marker-fill: #50103; marker-allow-overlap: true; marker-clip: false;} #larutaelectoral [ sumadeimporte <= 150000] { marker-width: 40.0; } #larutaelectoral [ sumadeimporte <= 100000] {  marker-width: 30.0; } #larutaelectoral [ sumadeimporte <= 50000] {  marker-width: 25.0; } #larutaelectoral [ sumadeimporte <= 10000] {  marker-width: 20.0; } #larutaelectoral [ sumadeimporte <= 5000] { marker-width: 15.0; } #larutaelectoral [ sumadeimporte <= 1000] {  marker-width: 10.0; } #larutaelectoral [ sumadeimporte <= 500] {  marker-width: 5.0; }",
            interactivity: "cartodb_id"
          }]
        })
          .addTo(map)
        .done(function(lyr) {
            var infowindow = cdb.vis.Vis.addInfowindow(map, lyr.getSubLayer(0), ['codlista', 'ciclo', 'sumadeimporte', 'agrupacion', 'elecciones', 'clase', 'cargo', 'sexo', 'apellido', 'nombres']);

            infowindow.model.set('template', function(data) {
                return _.template($('#infowindow_template').html())(data);
            });

          }).on('error', function() {
            console.log("some error occurred");
          });
        cartodb.createLayer(map, {
          user_name: 'andytow',
          type: 'cartodb',
          sublayers: [{
            sql: "select * from larutaelectoral where color = '50214'",
            layer_name: "larutaelectoral",
            cartocss: "#larutaelectoral { marker-fill-opacity: 0.9; marker-line-color: #FFF; marker-line-width: 1.5; marker-line-opacity: 1; marker-placement: point; marker-multi-policy: largest; marker-type: ellipse; marker-fill: #50214; marker-allow-overlap: true; marker-clip: false;} #larutaelectoral [ sumadeimporte <= 150000] { marker-width: 40.0; } #larutaelectoral [ sumadeimporte <= 100000] {  marker-width: 30.0; } #larutaelectoral [ sumadeimporte <= 50000] {  marker-width: 25.0; } #larutaelectoral [ sumadeimporte <= 10000] {  marker-width: 20.0; } #larutaelectoral [ sumadeimporte <= 5000] { marker-width: 15.0; } #larutaelectoral [ sumadeimporte <= 1000] {  marker-width: 10.0; } #larutaelectoral [ sumadeimporte <= 500] {  marker-width: 5.0; }",
            interactivity: "cartodb_id"
          }]
        })
          .addTo(map)
        .done(function(lyr) {
            var infowindow = cdb.vis.Vis.addInfowindow(map, lyr.getSubLayer(0), ['codlista', 'ciclo', 'sumadeimporte', 'agrupacion', 'elecciones', 'clase', 'cargo', 'sexo', 'apellido', 'nombres']);

            infowindow.model.set('template', function(data) {
                return _.template($('#infowindow_template').html())(data);
            });

          }).on('error', function() {
            console.log("some error occurred");
          });
        cartodb.createLayer(map, {
          user_name: 'andytow',
          type: 'cartodb',
          sublayers: [{
            sql: "select * from larutaelectoral where color = '61380b'",
            layer_name: "larutaelectoral",
            cartocss: "#larutaelectoral { marker-fill-opacity: 0.9; marker-line-color: #FFF; marker-line-width: 1.5; marker-line-opacity: 1; marker-placement: point; marker-multi-policy: largest; marker-type: ellipse; marker-fill: #61380b; marker-allow-overlap: true; marker-clip: false;} #larutaelectoral [ sumadeimporte <= 150000] { marker-width: 40.0; } #larutaelectoral [ sumadeimporte <= 100000] {  marker-width: 30.0; } #larutaelectoral [ sumadeimporte <= 50000] {  marker-width: 25.0; } #larutaelectoral [ sumadeimporte <= 10000] {  marker-width: 20.0; } #larutaelectoral [ sumadeimporte <= 5000] { marker-width: 15.0; } #larutaelectoral [ sumadeimporte <= 1000] {  marker-width: 10.0; } #larutaelectoral [ sumadeimporte <= 500] {  marker-width: 5.0; }",
            interactivity: "cartodb_id"
          }]
        })
          .addTo(map)
        .done(function(lyr) {
            var infowindow = cdb.vis.Vis.addInfowindow(map, lyr.getSubLayer(0), ['codlista', 'ciclo', 'sumadeimporte', 'agrupacion', 'elecciones', 'clase', 'cargo', 'sexo', 'apellido', 'nombres']);

            infowindow.model.set('template', function(data) {
                return _.template($('#infowindow_template').html())(data);
            });

          }).on('error', function() {
            console.log("some error occurred");
          });

        cartodb.createLayer(map, {
          user_name: 'andytow',
          type: 'cartodb',
          sublayers: [{
            sql: "select * from larutaelectoral where color = '969696'",
            layer_name: "larutaelectoral",
            cartocss: "#larutaelectoral { marker-fill-opacity: 0.9; marker-line-color: #FFF; marker-line-width: 1.5; marker-line-opacity: 1; marker-placement: point; marker-multi-policy: largest; marker-type: ellipse; marker-fill: #969696; marker-allow-overlap: true; marker-clip: false;} #larutaelectoral [ sumadeimporte <= 150000] { marker-width: 40.0; } #larutaelectoral [ sumadeimporte <= 100000] {  marker-width: 30.0; } #larutaelectoral [ sumadeimporte <= 50000] {  marker-width: 25.0; } #larutaelectoral [ sumadeimporte <= 10000] {  marker-width: 20.0; } #larutaelectoral [ sumadeimporte <= 5000] { marker-width: 15.0; } #larutaelectoral [ sumadeimporte <= 1000] {  marker-width: 10.0; } #larutaelectoral [ sumadeimporte <= 500] {  marker-width: 5.0; }",
            interactivity: "cartodb_id"
          }]
        })
          .addTo(map)
        .done(function(lyr) {
            var infowindow = cdb.vis.Vis.addInfowindow(map, lyr.getSubLayer(0), ['codlista', 'ciclo', 'sumadeimporte', 'agrupacion', 'elecciones', 'clase', 'cargo', 'sexo', 'apellido', 'nombres']);

            infowindow.model.set('template', function(data) {
                return _.template($('#infowindow_template').html())(data);
            });

          }).on('error', function() {
            console.log("some error occurred");
          });

        cartodb.createLayer(map, {
          user_name: 'andytow',
          type: 'cartodb',
          sublayers: [{
            sql: "select * from larutaelectoral where color = '868a08'",
            layer_name: "larutaelectoral",
            cartocss: "#larutaelectoral { marker-fill-opacity: 0.9; marker-line-color: #FFF; marker-line-width: 1.5; marker-line-opacity: 1; marker-placement: point; marker-multi-policy: largest; marker-type: ellipse; marker-fill: #868a08; marker-allow-overlap: true; marker-clip: false;} #larutaelectoral [ sumadeimporte <= 150000] { marker-width: 40.0; } #larutaelectoral [ sumadeimporte <= 100000] {  marker-width: 30.0; } #larutaelectoral [ sumadeimporte <= 50000] {  marker-width: 25.0; } #larutaelectoral [ sumadeimporte <= 10000] {  marker-width: 20.0; } #larutaelectoral [ sumadeimporte <= 5000] { marker-width: 15.0; } #larutaelectoral [ sumadeimporte <= 1000] {  marker-width: 10.0; } #larutaelectoral [ sumadeimporte <= 500] {  marker-width: 5.0; }",
            interactivity: "cartodb_id"
          }]
        })
          .addTo(map)
        .done(function(lyr) {
            var infowindow = cdb.vis.Vis.addInfowindow(map, lyr.getSubLayer(0), ['codlista', 'ciclo', 'sumadeimporte', 'agrupacion', 'elecciones', 'clase', 'cargo', 'sexo', 'apellido', 'nombres']);

            infowindow.model.set('template', function(data) {
                return _.template($('#infowindow_template').html())(data);
            });

          }).on('error', function() {
            console.log("some error occurred");
          });

        cartodb.createLayer(map, {
          user_name: 'andytow',
          type: 'cartodb',
          sublayers: [{
            sql: "select * from larutaelectoral where color = 'bf5b17'",
            layer_name: "larutaelectoral",
            cartocss: "#larutaelectoral { marker-fill-opacity: 0.9; marker-line-color: #FFF; marker-line-width: 1.5; marker-line-opacity: 1; marker-placement: point; marker-multi-policy: largest; marker-type: ellipse; marker-fill: #bf5b17; marker-allow-overlap: true; marker-clip: false;} #larutaelectoral [ sumadeimporte <= 150000] { marker-width: 40.0; } #larutaelectoral [ sumadeimporte <= 100000] {  marker-width: 30.0; } #larutaelectoral [ sumadeimporte <= 50000] {  marker-width: 25.0; } #larutaelectoral [ sumadeimporte <= 10000] {  marker-width: 20.0; } #larutaelectoral [ sumadeimporte <= 5000] { marker-width: 15.0; } #larutaelectoral [ sumadeimporte <= 1000] {  marker-width: 10.0; } #larutaelectoral [ sumadeimporte <= 500] {  marker-width: 5.0; }",
            interactivity: "cartodb_id"
          }]
        })
          .addTo(map)
        .done(function(lyr) {
            var infowindow = cdb.vis.Vis.addInfowindow(map, lyr.getSubLayer(0), ['codlista', 'ciclo', 'sumadeimporte', 'agrupacion', 'elecciones', 'clase', 'cargo', 'sexo', 'apellido', 'nombres']);

            infowindow.model.set('template', function(data) {
                return _.template($('#infowindow_template').html())(data);
            });

          }).on('error', function() {
            console.log("some error occurred");
          });
        cartodb.createLayer(map, {
          user_name: 'andytow',
          type: 'cartodb',
          sublayers: [{
            sql: "select * from larutaelectoral where color = 'd7191c'",
            layer_name: "larutaelectoral",
            cartocss: "#larutaelectoral { marker-fill-opacity: 0.9; marker-line-color: #FFF; marker-line-width: 1.5; marker-line-opacity: 1; marker-placement: point; marker-multi-policy: largest; marker-type: ellipse; marker-fill: #d7191c; marker-allow-overlap: true; marker-clip: false;} #larutaelectoral [ sumadeimporte <= 150000] { marker-width: 40.0; } #larutaelectoral [ sumadeimporte <= 100000] {  marker-width: 30.0; } #larutaelectoral [ sumadeimporte <= 50000] {  marker-width: 25.0; } #larutaelectoral [ sumadeimporte <= 10000] {  marker-width: 20.0; } #larutaelectoral [ sumadeimporte <= 5000] { marker-width: 15.0; } #larutaelectoral [ sumadeimporte <= 1000] {  marker-width: 10.0; } #larutaelectoral [ sumadeimporte <= 500] {  marker-width: 5.0; }",
            interactivity: "cartodb_id"
          }]
        })
          .addTo(map)
        .done(function(lyr) {
            var infowindow = cdb.vis.Vis.addInfowindow(map, lyr.getSubLayer(0), ['codlista', 'ciclo', 'sumadeimporte', 'agrupacion', 'elecciones', 'clase', 'cargo', 'sexo', 'apellido', 'nombres']);

            infowindow.model.set('template', function(data) {
                return _.template($('#infowindow_template').html())(data);
            });

          }).on('error', function() {
            console.log("some error occurred");
          });

      }

      window.onload = main;

    </script>
