<html>
<head>
<meta http-equiv="Content-Language" content="es">
</head>
<body>
	<div id = "sponsors">
		Con la contribución de:
		<table border="0" cellspace="5" cellspacing="10">
			<tr>
				<td>
				<a href="http://hackslabs.org/" target="_blank">
				<img src="http://www.andytow.com/scripts/larutaelectoral/img/icons/hackslabs.png"></a>
				</td>
				<td>
				<a href="http://www.icfj.org/" target="_blank">
				<img src="http://www.andytow.com/scripts/larutaelectoral/img/icons/ICFJ.png"></a>
				</td>
				<td>
				<a href="http://wbi.worldbank.org/wbi/" target="_blank">
				<img src="http://www.andytow.com/scripts/larutaelectoral/img/icons/WBI.png"></a>
				</td>
			</tr>	
		</table>
	</div>
	<hr>
	<div id = "team">
		Equipo:
		<table border="0" cellspace="5" cellspacing="10">
			<tr>
				<td>
				<a href="http://blogs.lanacion.com.ar/data/" target="_blank">
				<img src="http://www.andytow.com/scripts/larutaelectoral/img/icons/lndata.png"></a>
				</td>
				<td>
				<a href="http://www.cippec.org/" target="_blank">
				<img src="http://www.andytow.com/scripts/larutaelectoral/img/icons/cippec.png"></a>
				</td>
				<td>
				<a href="http://www.poderciudadano.org" target="_blank">
				<img src="http://www.andytow.com/scripts/larutaelectoral/img/icons/poderciudadano.png"></a>
				</td>
				<td><a href="http://andytow.com/blog/" target="_blank">
				<img src="http://www.andytow.com/scripts/larutaelectoral/img/icons/blogdeandytow.png"></a>
				</td>
			</tr>	
		</table>
	</div>
</body>
</html>