{% extends 'basic.html' %}
{% block content %}

	<h3>Equipo</h3>

	<h4>Sponsors</h4>
	<ul>
		<ol>
			<a href="http://blogs.lanacion.com.ar/data/" target="_blank"><img src="{{ url_for('static', filename='img/icons/lndata.png') }}"></a>
		</ol>

		<ol>
			<a href="http://opennews.org/" target="_blank"><img src="{{ url_for('static', filename='img/icons/opennews.png') }}"></a>
		</ol>
		
		<ol>
			<a href="http://www.cippec.org/" target="_blank"><img src="{{ url_for('static', filename='img/icons/cippec.png') }}"></a>
		</ol>
		<ol>
			<a href="http://www.poderciudadano.org" target="_blank"><img src="{{ url_for('static', filename='/img/icons/poderciudadano.png') }}"></a>
		</ol>
		<ol>
			<a href="http://andytow.com/blog/" target="_blank"><img src="{{ url_for('static', filename='img/icons/blogdeandytow.png') }}"></a>
		</ol>
	</ul>

		<p><b>Desarrollo: </b><a target="_blank" href="https://twitter.com/andy_tow">
		Andy Tow</a>,<a target="_blank" href="https://twitter.com/gaba">
		Gabriela Rodriguez</a>, <a href="https://twitter.com/momiperalta">Momi
		Peralta Ramos</a>, <a target="_blank" href="https://twitter.com/rgbrom">
		Ricardo Brom</a>, <a target="_blank" href="https://twitter.com/belbosays">Gonzalo Bellver</a></p>
		
		<p><b>Colaboradores: </b>
		<a target="_blank" href="https://twitter.com/aaizemberg">Ariel Aizemberg</a>,
		Francisco Facioni,
		<a target="_blank" href="https://twitter.com/juliapomares">Julia Pomares</a>,
		<a target="_blank" href="https://twitter.com/soniajalfin">Sonia Jalfin</a>,
		<a target="_blank" href="https://twitter.com/ropavese">
		Rosario Pavese</a>,
		<a target="_blank" href="https://twitter.com/pablosecchi">Pablo Secchi</a>,
		<a target="_blank" href="https://twitter.com/juanibelbis">Juan Ignacio
		Belbis</a>, <a target="_blank" href="https://twitter.com/fcoel">
		Florencia Coelho</a>,
		<a target="_blank" href="https://twitter.com/colmanromi">Romina Colman</a>

{% endblock %}
